## .NET
bin/
obj/
*.user
*.suo
*.sln.docstates

## NuGet
**/[Pp]ackages/*
!**/[Pp]ackages/build/

## Serilog
data/logs/
*.log

## IDE
.idea/
.vs/
.vscode/
*.swp
/src/SoundBridge.App/data
/src/SoundBridge.App/data/soundbridge.db
/src/SoundBridge.App/data/soundbridge-log.db
